[package]
name = "coman"
version = "1.0.83"
edition = "2021"

[dependencies]
atty = "0.2.14"
clap = { version = "4.5.53", features = ["derive"] }
colored = "3.0.0"
futures = "0.3.31"
once_cell = "1.21.3"
reqwest = { version = "0.12.26", default-features = false, features = ["json", "stream", "rustls-tls"] } # use native-tls-vendored for compatibility with Windows
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
tokio = { version = "1.48.0", features = ["rt", "rt-multi-thread", "macros"] }
